<%= form_tag url_for(params.except(:start_date, :to).to_unsafe_hash), method: "get", class: "well well-sm", id: "search-form" do %>
  <div>
    <label style="margin-right: 10px;">Group By: <%= select_tag :group_by, options_for_select([["All", nil]] + @klass.display_columns.map{|x| [x.titleize.sub("Url ", "URL "), x]} , params[:group_by]) %></label>

    <label style="margin-right: 10px;">From: <%= date_field_tag :start_date, @start_date %></label>
    <label style="margin-right: 10px;">To: <%= date_field_tag :end_date, @end_date %></label>

    <label style="margin-right: 10px;">Search: <%= text_field_tag :search, params[:search] %></label>
  </div>

  <div>
    <%= link_to "Today", url_for(params.merge(start_date: Date.today, end_date: Date.today).to_unsafe_hash) %>
    |
    <%= link_to "Yesterday", url_for(params.merge(start_date: (Date.today - 1.day), end_date: (Date.today - 1.day)).to_unsafe_hash) %>
    |
    <%= link_to "Last 7 days", url_for(params.merge(start_date: 7.days.ago.to_date, end_date: Date.today).to_unsafe_hash) %>
    |
    <%= link_to "Last 30 days", url_for(params.merge(start_date: 30.days.ago.to_date, end_date: Date.today).to_unsafe_hash) %>
    |
    <%= link_to "Last 3 Months", url_for(params.merge(start_date: 3.months.ago.to_date, end_date: Date.today).to_unsafe_hash) %>
    |
    <%= link_to "Last 6 Months", url_for(params.merge(start_date: 6.months.ago.to_date, end_date: Date.today).to_unsafe_hash) %>
    |
    <%= link_to "Last Year", url_for(params.merge(start_date: 1.year.ago.to_date, end_date: Date.today).to_unsafe_hash) %>
  </div>
<% end %>

<h2>Requests by <%= params[:type].titleize %></h2>

<table class="table table-striped table-condensed table-sortable">
  <thead>
    <% if params[:group_by].present? %>
      <th>
        <%= params[:group_by].titleize.sub("Url ", "URL ") %>
        <span title="Sort column">&varr;</span>
      </th>
    <% else %>
      <% @klass.display_columns.each do |col_name| %>
        <th>
          <%= col_name.titleize.sub("Url ", "URL ") %>
          <span title="Sort column">&varr;</span>
        </th>
      <% end %>
    <% end %>

    <th>
      Total <span title="Difference compared to previous period">(Difference)</span>
      <span title="Sort column">&varr;</span>
    </th>
  </thead>

  <tbody>
    <% @results.each do |row| %>
      <tr>
        <% row.each do |value| %>
          <td>
            <%= value %>
          </td>
        <% end %>

        <td>
          <% total = row.last %>
          <%= total %>

          <% prev_period_row = @prev_period_results.detect{|prev_period_row| row[0..-2] == prev_period_row[0..-2] } %>
          <% if prev_period_row %>
            <% prev_period_total = prev_period_row.last %>
            <% diff = total - prev_period_total %>

            <% if diff >= 0 %>
              (+<%= diff %>)
            <% else %>
              (<%= diff %>)
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="text-align: center;">
<% if params[:page].present? && params[:page].to_i > 1 %>
  <%= link_to "Prev", url_for(params.to_unsafe_h.merge(page: pagination_page_number-1)) %>
  |
<% end %>

<%= link_to "Next", url_for(params.to_unsafe_h.merge(page: pagination_page_number+1)) %>
</div>

<script>
  $(function(){
    $("table.table-sortable").tablesorter();

    var form = $("form#search-form");

    form.on("change", ":input", function(){
      form.submit();
    });
  });
</script>
