<% title = RailsLocalAnalytics.name.titleize %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.4.0/cosmo/bootstrap.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= render "layouts/rails_local_analytics/app_css" %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to title , root_path, class: "navbar-brand" %>
        </h1>

        <ul class="nav navbar-nav navbar-right">
          <li class="<%= 'active' if params[:type] == "page" %>">
            <%= link_to "Requests By Page", tracked_requests_path(type: "page") %>
          </li>

          <li class="<%= 'active' if params[:type] == "site" %>">
            <%= link_to "Requests By Site", tracked_requests_path(type: "site") %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <%= yield %>
    </main>
  </body>
</html>
